.highlight {
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
}
.in-the-top {
	position: relative;
	bottom: 200px;
}
.in-the-bottom {
	position: relative;
	top: 200px;
}

.discreto li {
	list-style: none;
}
.altogether li {
	list-style: none;
	text-indent: none;
	display: inline;
}
.hide {
	display: none;
}